@use "../../utils/colors.scss" as colors;

.container {
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
}

.home {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: colors.$font-light;
}

table {
  border-collapse: collapse;
}

tbody {
  border: 2px solid #2b193d;
}

tr,
td {
  border: 2px solid #2b193d;
}

.terminology {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.terminology .single {
  display: flex;
  width: 100%;
}

.terminology .single:nth-child(odd) {
  display: flex;
  background: lightgrey;
  width: 100%;
}

.terminology .single div {
  width: 70%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminology .single div:first-child {
  width: 30%;
}

.terminology .multi {
  display: flex;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.terminology .multi div {
  width: 70%;
}

.terminology .multi div:first-child {
  width: 30%;
  padding: 1rem;
}

.terminology .multi div:last-child {
  border-bottom: none;
}

.terminology .multi div .info {
  width: 100%;
  display: flex;
}

.terminology .multi div .side {
  width: 100%;
  display: flex;
}

.terminology .multi div .side div {
  padding: 1rem;
}

.terminology .multi .title {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  align-items: center;
}

.terminology .multi .side-container > div:nth-child(odd) {
  background-color: lightgray;
}

.terminology .multi .side-container .info {
  display: flex;
  justify-content: center;
}

.tooltip {
  width: auto !important;
}
