@use "../../utils/colors.scss" as colors;

.container {
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
}

.home {
  background: rgb(246 246 246);
  width: 83.333333%;
  height: 100%;
  padding: 1rem;
}

.content {
  padding: 1.5rem;
  height: 100%;
  background-color: rgb(246 246 246);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

.cardContent {
  display: flex;
  padding: 1.5rem;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.cardTitle {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cardParagraph {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

.homeTitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.terminology {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;

  .single:nth-child(odd) {
    display: flex;
    background: lightgrey;
    width: 100%;
  }
}

.single {
  display: flex;
  width: 100%;

  div {
    width: 70%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:first-child {
    width: 30%;
  }
}

.multi {
  display: flex;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  div {
    width: 70%;

    .info {
      width: 100%;
      display: flex;
    }

    .side {
      width: 100%;
      display: flex;

      div {
        padding: 1rem;
      }
    }
  }

  div:first-child {
    width: 30%;
    padding: 1rem;
  }

  div:last-child {
    border-bottom: none;
  }
}

.title {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  align-items: center;
}

.sideContainer {
  > div:nth-child(odd) {
    background-color: lightgray;
    width: 100%;
    display: flex;
  }

  .info {
    display: flex;
    justify-content: center;
  }
}

.info {
  width: 100%;
  display: flex;
}
