// @use "../../utils/colors.scss" as colors;

.button {
  color: white;
  text-transform: uppercase;
  // font-weight: 600;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #393e46;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}
