.container {
  color: rgb(246 246 246);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.25rem;
  padding: 0.125rem 0.65rem;
  width: fit-content;
  font-size: 0.7rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}
