.button {
  color: rgb(63 63 68);
  border-color: rgb(215 236 215);
  border-width: 1px;
  text-transform: uppercase;
  background-color: rgb(243 247 243);
  border-radius: 0.3rem;
  font-size: 0.7rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
