@use "../../utils/colors.scss" as colors;

.rowContent {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.cardTitle {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cardSimpleTitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cardCompostTitle {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.cardParagraph {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.cardSimpleParagraph {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.cardGenres {
  display: flex;
  gap: 0.5rem;
}

.cardInfo {
  display: flex;
  gap: 0.5rem;
}

.cardDivider {
  margin: 1rem 0;
  color: colors.$primary-light;
}

.button {
  justify-self: flex-end;
  align-self: flex-end;
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .rowContent {
    flex-direction: column;
  }

  .cardSimpleParagraph {
    text-align: center;
  }

  .button {
    align-self: center;
  }
}
