@use "../../utils/colors.scss" as colors;

.container {
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
}

.home {
  background: rgb(246 246 246);
  width: 83.333333%;
  height: 100%;
  padding: 1rem;
}

.content {
  padding: 1.5rem;
  height: 100%;
  background-color: rgb(246 246 246);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
