@use "../../utils/colors.scss" as colors;

.container {
  width: 100%;
  display: flex;
}

.cardContent {
  display: flex;
  padding: 1.5rem;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.cardTitle {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cardSimpleTitle {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cardCompostTitle {
  display: flex;
  justify-content: space-between;
}

.cardParagraph {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

.cardSimpleParagraph {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.cardGenres {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.cardImage {
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 12rem;
  height: auto;
}

.cardInfo {
  display: flex;
  gap: 0.5rem;
}

.cardDivider {
  margin: 1rem 0;
  color: colors.$primary-light;
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
  }
}
