$background-light: #f6f6f6;
$primary-light: #b5de9d;
$secondary-light: #d7ecd7;
$terciary-light: #f3f7f3;
$font-light: #3f3f44;
// $color-neutral-gray-light: #D8DBE0;
// $color-semantic-success-light: #2AB071;
// $color-semantic-danger-dark: #CC0000;
// $color-semantic-danger-light: #FF4242;
// $color-semantic-warning-light: #FFD84F;
