@use "../../utils/colors.scss" as colors;

.aside {
  padding: 1.5rem;
  border-color: rgb(215, 236, 215, 1);
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  overflow-y: auto;
  width: 16.666667%;
  height: 100%;
}

.multi {
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 100%;

  span:last-child {
    color: rgb(181, 222, 157);
    cursor: pointer;
  }
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  width: 100%;

  span {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #7d7d82;
    font-size: 0.7rem;
  }
}

.select {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.25rem 1.875rem 0.25rem 0.75rem;

  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.7rem;
  color: #7d7d82;
  max-width: 50%;
  min-width: 50%;
}

.submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 575.98px) {
  .aside {
    display: none;
  }
}
